.permiso{
    background: rgb(236, 236, 236);
               border-radius: 4px;
               transition: all .3s;
               height: 2rem !important;

}

.permiso:hover{
    cursor: pointer;
    background: rgb(218, 217, 217);

}


.permiso:active{
    cursor: auto;
    background: rgb(251, 251, 251);
}