<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-size: cover; background-position: center top;"
  style="background: url('assets/img/theme/dashboard_background.png'); background-repeat: no-repeat;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-6"></span>




  <!-- Header container -->

</div>
<!-- Page content -->
<div class="container-fluid mt--7">



  <div  fxLayout="column" fxLayoutAlign="center center" class="container"
  style="text-align: center;  padding-top: 150px; padding-bottom: 150px">
  <i class="ni ni-settings text-default" style="font-size: 100px"></i>
  <h1>Modulo en construcción</h1>
</div>


</div>