.acto-desc{
    margin: 0px;
    position: absolute;
    width: 1000px;
    left: 95px;
    top: 40px;
}

.acto-nombre{
    position: absolute;
    top: -15px;
    left: 90px;
    width: 1000px;
}

.bg-without-shadows{
    box-shadow: none !important;
    border: none !important;
    padding: 0px !important;
}