<div class="row" style="    margin-left: 3%;">
    <div *ngFor="let acto of actos; let i = index" class="col-xl-4  col-md-6 col-lg-6 mb-3" >     
           <div class=" acto" style="position: relative; padding: 10px;border-radius: 4px; text-align: center" (click)="declararActo(acto)">
            <div class="bg-success text-white  shadow" style="    font-size: 30px;
            width: 40%;
            position: absolute;
            height: 15%;
            font-weight: bolder;
            text-align: center;
            top: 40%;
            left: 30%;
            opacity: .8;">
              {{acto.codigo}}
            </div>
                  <img src="assets\resources\thumbnails_formatos\thumbnail_formato_301.png" alt="" width="100%">
            <h4 class="card-title text-uppercase text-muted" style="margin-left: 7px;margin-top: 4px; margin-bottom: 0px; width: -webkit-fill-available;">{{acto.fkBcActo.nombreActo | truncate}} </h4>
            <p>{{acto.fkBcActo.descripcion | truncate }}</p>

           </div>
     
       
     </div>


     <div *ngIf="actos?.length === 0" fxLayout="column" fxLayoutAlign="center center" class="container"
     style="text-align: center;  padding-top: 150px; padding-bottom: 150px">
     <i class="ni ni-support-16 text-default" style="font-size: 100px"></i>
     <p class="mt-2">No se encontraron tramites con esos parametros</p>
   </div>


    </div>