.acto:hover{
    cursor: pointer;
    background: #efecec;
}

.acto{
    transition: all .3s;
}


input[type="file"] {
  display: none;
}

.exp-header{
  background: rgb(244, 244, 244) !important;
}

.exp-header:hover{
  background: rgb(217, 216, 216) !important;
  cursor: pointer;
}


.page{
  width: 200px !important;
  height: 200px !important;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}


/* style 1 */

.inputfile-1 + label {
  color: #f1e5e6;
  background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: #722040;
}


/* style 2 */

.inputfile-2 + label {
  color: #d3394c;
  border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
  color: #722040;
}


/* style 3 */

.inputfile-3 + label {
  color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
  color: #722040;
}


/* style 4 */

.inputfile-4 + label {
  color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
  color: #722040;
}

.inputfile-4 + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d3394c;
  display: block;
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
  background-color: #722040;
}

.inputfile-4 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
  color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #722040;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 135px;
  background-color: #d3394c;
  display: block;
  position: relative;
  padding: 30px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}

.inputfile-5 + label figure::before {
  border-top: 20px solid #dfc8ca;
  border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
  border-bottom: 20px solid #722040;
  border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
  border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
  color: #d3394c;
}

.inputfile-6 + label {
  border: 1px solid #d3394c;
  background-color: #f1e5e6;
  padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
  border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.inputfile-6 + label span {
  width: 200px;
  min-height: 2em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.inputfile-6 + label strong {
  height: 100%;
  color: #f1e5e6;
  background-color: #d3394c;
  display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
  background-color: #722040;
}

@media screen and (max-width: 50em) {
.inputfile-6 + label strong {
  display: block;
}
}

.boton-circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  padding: .60rem;
  padding-bottom: 0px;
  margin-bottom: 10px;
  position: relative;
}


.boton-circle:hover{
  cursor : pointer;

}


.titulo{
    background: #203963;
    color: white;
    padding: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 3px;
}


.text-title{
  margin-bottom: 0px;
    COLOR: WHITE;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.form-control {
  font-size: 0.875rem !important;
  box-shadow: none !important;
  border: 1px solid #ddd9eed6 !important;
  border-radius: 4px !important;
}

.label{
  margin: none !important;
}

.form-group {
  margin-bottom: .5rem !important;
}

.form-control {
  height: 2rem !important;
}

.columnaActividad:hover {
  background: rgb(224, 225, 227);
  cursor: pointer;
}

.columnaActividad {
  background: #f0f1f6;
}


.blanco {
 background: rgb(236, 237, 240);
}
.gris {
  background: rgb(211, 211, 211);
}

.prefix-badge {
  text-align: center;
  background: #c9c9e5;
}


.boton-barralateral {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 4px;
  color: white;
  padding: .60rem;
  background: #172b4d;
  padding-bottom: 0px;
  margin-bottom: 10px;
  position: relative;
  transition: all .3s;
}

.boton-barralateral:hover {
  background: #2a487b;
  cursor: pointer;
}

.barra-lateral {
  background: #cdd7e6;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px #b8b7b7;
}


.normal {
  background: #f7f7f7;
}


.error {
  background: #f4dada;
}