 

 <div class="header bg-gradient-danger py-5 py-lg-8" style="    background-image: url(assets/img/theme/dashboard_background2.png) !important;
 padding-top: 0 !important;
 background-size: cover !important;
 background-repeat: no-repeat !important;
 background-position: bottom!important; ">
 
    <div class="header-body text-center mb-7" style="margin: 0px !important;">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6  mt-4">
          <img class="text-white" src="assets/img/brand/logo_tributo_white.png" alt="Logo triuto" width="330">
          <p  style="position: relative;
          color: #024a59 !important;
          bottom: 25%;
          margin: 0px;" class="text-lead text-light" >Plataforma única nacional!</p>
        </div>
      </div>
    </div>

</div>




<div class="container contenedor web" id="container" style="margin-top: 5rem" [ngClass]="{'right-panel-active': estado == 'registrar'}" >
  	<div class="form-container sign-up-container">
		<form [formGroup]="DataRegister">
			<h1>Crear una cuenta</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div> -->
      <div class="btn-wrapper text-center">     
          <a id="boton" href="{{url.normal}}oauth2/authorize/google?redirect_uri={{url.serverUrl}}" class="btn btn-neutral btn-icon" style="width: 90%; padding-right: 2.3rem;">
            <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
            <span class="btn-inner--text">Google</span>
          </a>
        </div>

			<span>o usa tu correo electronico</span>
      <input type="text" placeholder="Nombre y apellido" formControlName="name" />
      <show-errors style="width: 100%" [control]="DataRegister.controls.name"></show-errors>
      <input type="email" placeholder="Correo electronico" formControlName="email" />
      <show-errors style="width: 100%" [control]="DataRegister.controls.email"></show-errors>
      <input type="password" placeholder="Contraseña" formControlName="password" />
      <show-errors style="width: 100%" [control]="DataRegister.controls.password"></show-errors>
			<button style="background: #34345e; border: none" (click)="registrar()" >Registrar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form [formGroup]="Data">
			<h1 style="color: #34345e;font-size: larger;">Iniciar sesion con</h1>
		<!-- 	<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div> -->
      <div class="btn-wrapper text-center">     
          <a id="boton" href="{{url.normal}}oauth2/authorize/google?redirect_uri={{url.serverUrl}}" class="btn btn-neutral btn-icon" style="width: 90%; padding-right: 2.3rem;">
            <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
            <span class="btn-inner--text">Google</span>
          </a>
        </div>

      <span>o usa tu cuenta</span>
          <input type="email" placeholder="Email" formControlName="email"/>
          <show-errors style="width: 100%" [control]="Data.controls.email"></show-errors>
          <input type="password" placeholder="Password" formControlName="password" />
          <show-errors style="width: 100%" [control]="Data.controls.password"></show-errors>
		
      <a href="#">Olvidaste tu contraseña?</a>
      
  
			<button style="background: #34345e; border: none" (click)="loginLocal()">Iniciar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1 style="color: white">Ya tienes una cuenta?</h1>
				<p>Ingresa tu cuenta tributo.co para seguir tributando con nosotros</p>
				<button class="ghost" id="signIn" (click)="estado = 'iniciar'">Iniciar</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 style="color: white">Hola, Bienvenido!</h1>
				<p>Ingresa tus datos personales y empieza a tributar con nosotros</p>
				<button class="ghost" id="signUp" (click)="estado = 'registrar'">Registrate</button>
			</div>
		</div>
	</div>
</div>








<div class="container  movil">


  <div  *ngIf="estado == 'iniciar'">
		<form [formGroup]="Data" style="border-radius: 7px;">
			<h1 style="color: #34345e;font-size: larger;" class="mt-4">Iniciar sesion con</h1>
		<!-- 	<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div> -->
      <div class="btn-wrapper text-center">     
          <a id="boton" href="{{url.normal}}oauth2/authorize/google?redirect_uri={{url.serverUrl}}" class="btn btn-neutral btn-icon" style="width: 90%; padding-right: 2.3rem;">
            <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
            <span class="btn-inner--text">Google</span>
          </a>
        </div>

      <span>o usa tu cuenta</span>
          <input type="email" placeholder="Email" formControlName="email"/>
          <show-errors style="width: 100%" [control]="Data.controls.email"></show-errors>
          <input type="password" placeholder="Password" formControlName="password" />
          <show-errors style="width: 100%" [control]="Data.controls.password"></show-errors>
		
      <a href="#">Olvidaste tu contraseña?</a>
      
  
      <button style="background: #34345e; border: none" (click)="loginLocal()">Iniciar</button>
      <a (click)="estado = 'registrar'">Aún no tienes una cuenta?</a>

		</form>
  </div>
  
  <div *ngIf="estado == 'registrar'">
		<form [formGroup]="DataRegister" style="border-radius: 7px;">
			<h1 class="mt-4" style="color: #34345e;font-size: larger;">Crear una cuenta</h1>
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div> -->
      <div class="btn-wrapper text-center">     
          <a id="boton" href="{{url.normal}}oauth2/authorize/google?redirect_uri={{url.serverUrl}}" class="btn btn-neutral btn-icon" style="width: 90%; padding-right: 2.3rem;">
            <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
            <span class="btn-inner--text">Google</span>
          </a>
        </div>

			<span>o usa tu correo electronico</span>
      <input type="text" placeholder="Nombre y apellido" formControlName="name" />
      <show-errors style="width: 100%" [control]="DataRegister.controls.name"></show-errors>
      <input type="email" placeholder="Correo electronico" formControlName="email" />
      <show-errors style="width: 100%" [control]="DataRegister.controls.email"></show-errors>
      <input type="password" placeholder="Contraseña" formControlName="password" />
      <show-errors style="width: 100%" [control]="DataRegister.controls.password"></show-errors>
      <button style="background: #34345e; border: none" (click)="registrar()" >Registrar</button>
      <a (click)="estado = 'iniciar'">Ya tienes una cuenta?</a>

		</form>
	</div>


</div>




