<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-size: cover; background-position: center top;"
  style="background: url('assets/img/theme/dashboard_background.png'); background-repeat: no-repeat;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-6"></span>
  <!-- Header container -->

</div>
<!-- Page content -->
<div class="container-fluid mt--7">




  <mat-sidenav-container style="border-radius: 10px;" style="height: 600px; z-index: 0 !important;">


    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over' ">
      <nav class="navbar navbar-horizontal navbar-expand-lg navbar-white bg-white">
        <div class="container">
          <a class="navbar-brand">Tus tramites</a>



          <!-- BOTONES DEL NAVBAR -->

          <a class="nav-link nav-link-icon filter-hover" id="navbar-default_dropdown_1 " role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="position: relative;
          left: 20% !important;">
            <i style="font-size: 20px;" class="ni ni-ui-04"></i>
            <span class="nav-link-inner--text d-lg-none"></span>
          </a>

          <!-- INICIO DEL DROPDOWN -->
          <li class="nav-item dropdown" #closeDropDown>



            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1"
              style="width: 260px; text-align: center" >
              <div class="col-lg-12">
                <h4>Filtrar tramites</h4>
              </div>


              <div class="dropdown-divider"></div>
              <div class="row p-3"
                style="position: relative;position: relative;margin-top: 0px;padding-top: 0px !important;">



                <div class="col-lg-2">
                  <i style="font-size: 30px;position: absolute;top: 32%;left: 40%;" class="ni ni-single-copy-04"></i>
                </div>
                <div class="col-lg-10 ">
                  <div class="form-group">
                    <label for="input-nombreacto"
                      style="font-size: 12px;margin: 0px;position: relative;left: -19%;">Datos del tramite </label>
                    <input [(ngModel)]="searchText" type="text" id="input-nombreacto"
                      class="form-control form-control-alternative" placeholder="Datos del tramite"
                      style="font-size: 13px" (keyup.enter)="closeDropDown.click()">
                  </div>
                </div>



                <div class="col-lg-2">
                  <i style="font-size: 30px;position: absolute;top: 32%;left: 40%;" class="ni ni-calendar-grid-58"></i>
                </div>

                <div class="col-lg-10">
                  <mat-form-field style="width: 100%">
                    <input matInput [matDatepicker]="picker" placeholder="Fecha de creación">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>



                <div class="col-lg-12">



                  <div style="width: 100%; height: 200px; background: rgb(240, 239, 239); border-radius: 4px">


                    <perfect-scrollbar style="max-height: 200px;">
 
                      <mat-list>
                        <h3 mat-subheader style="padding-bottom: 0px;padding-top: 0px;">Solo mostrar estados </h3>

                        <mat-radio-group [(ngModel)]="type" (change)="test($event)" >

                          <mat-list-item style="position: relative;      background: #e5e5e5; height: 50px;">
                            <i class="ni ni-bullet-list-67" style="position: absolute;
                                font-size: 30px;
                                color: #646270;"></i>
                            <div style="    position: absolute;
                               left: 28%;
                               font-size: 13px;
                               text-align: left;">
                              <h4 mat-line class="estado-list-name"
                                style="margin-bottom: 0px; font-weight: 400;     position: relative;top: 4px; left: 4px;">
                                  Todos</h4>
                            </div>
                            <mat-radio-button  value="TO" style="position: absolute;left: 85%;"></mat-radio-button>
                          </mat-list-item>
                          <mat-divider></mat-divider>



                        <mat-divider></mat-divider>

                        <mat-list-item style="position: relative;      background: #e5e5e5; height: 50px;">
                          <i class="ni ni-paper-diploma" style="position: absolute;
                              font-size: 30px;
                              color: #646270;"></i>
                          <div style="    position: absolute;
                             left: 28%;
                             font-size: 13px;
                             text-align: left;">
                            <h4 mat-line class="estado-list-name"
                              style="margin-bottom: 0px; font-weight: 400;     position: relative;top: 4px; left: 4px;">
                              Presentados</h4>
                            <p mat-line style="margin-bottom: 0px; "><span class="badge badge-warning">Presentado</span>
                            </p>
                          </div>
                          <mat-radio-button value="PR" style="position: absolute;left: 85%;"></mat-radio-button>
                        </mat-list-item>
                        <mat-divider></mat-divider>


                        <mat-list-item style="position: relative;      background: #e5e5e5; height: 50px;">
                          <i class="ni ni-money-coins" style="position: absolute;
                              font-size: 30px;
                              color: #646270;"></i>
                          <div style="    position: absolute;
                             left: 28%;
                             font-size: 13px;
                             text-align: left;">
                            <h4 mat-line class="estado-list-name"
                              style="margin-bottom: 0px; font-weight: 400;     position: relative;top: 4px; left: 4px;">
                              Pagados</h4>
                            <p mat-line style="margin-bottom: 0px; "><span class="badge badge-success">Pagado</span></p>
                          </div>
                          <mat-radio-button value="PA" style="position: absolute;left: 85%;"></mat-radio-button>
                        </mat-list-item>


                        <mat-divider></mat-divider>


                      </mat-radio-group>



                      </mat-list>

                    </perfect-scrollbar>
                  </div>
                </div>

              </div>
              <div *ngIf="actos?.length > 0">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Tramites encontrados {{actos.length}}</a>
              </div>

              <div *ngIf="!actos || actos?.length === 0">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">No se encontraron datos</a>
              </div>
            </div>
          </li>
          <!-- FIN DEL DROPDOWN -->


        </div>
      </nav>




      <mat-nav-list class="p-0 mailbox-sidenav-list" style="width: 320px !important;">





        <!-- LISTA DE LOS TRAMITES -->
        <div *ngFor="let acto of actos | ActoSearch: searchText; let i = index " class="animated fadeIn fast" (click)="viewDetail(acto)">
          <perfect-scrollbar style="max-height: 500px;">

            <div class="tributo card card-stats mb-lg-0" [ngClass]="{'selected': acto.selected}" style="border-radius: 0px">
              <div class="card-body" style="padding-top: 10px;padding-bottom: 0px;     height: 140px; ">
                <div class="row">
                  <div class="col">
                    <h6 class="card-title text-uppercase text-muted mb-0">{{acto.fkActoEntidad.fkBcActo.nombreActo}}</h6>
                    <span class="h3 font-weight-bold mb-0" style="position: relative; bottom: 9px;">{{acto.descripcion}}</span>
                    <span class="h3 font-weight-bold mb-0" style="position: relative;display: -webkit-box;color: rgb(78, 185, 92);bottom: 15px;">{{acto.valorApagar | currency : '$'}}</span>
                    <span class="h4 font-weight-bold mb-0" style="position: relative;bottom: 22px;">{{acto.fkActoEntidad.fkBcEntidad.nombre | truncate : 21}}</span>



                  </div>
                  <div class="col-auto" style="">
                    <div class="icon icon-shape text-blue animated fadeIn fast">
                      <i class="ni animated fadeIn fast" style="font-size: 35px"
                        [ngClass]="{'ni-single-copy-04': acto.selected , 'ni-folder-17': !acto.selected}"></i>
                    </div>
                  </div>
                </div>

                  <div class="codigo">{{acto.fkActoEntidad.codigo}}</div>






                  <span class="mr-2" style="    position: relative; bottom: 25px;"
                    [ngClass]="{'text-info' : acto.estado == 'BO', 'text-warning': acto.estado === 'PR','text-secondary': acto.estado == 'EL', 'text-danger' : acto.estado == 'LI', 'text-success': acto.estado == 'PA'}">
                    <i class="ni"
                      [ngClass]="{'ni-ruler-pencil' : acto.estado == 'BO', 'ni-single-copy-04': acto.estado === 'PR','ni-archive-2': acto.estado == 'AN', 'ni-paper-diploma' : acto.estado == 'LI', 'ni-money-coins': acto.estado == 'PA'}">
                    </i>
                    {{acto.valor_apagar | currency : '$'}}


                    
                    <span class="badge badge-info" *ngIf="acto.estado == 'BO'">Borrador</span>
                    <span class="badge badge-warning" *ngIf="acto.estado == 'PR'">Presentado</span>
                    <span class="badge badge-danger" *ngIf="acto.estado == 'LI'">Liquidado</span>
                    <span class="badge badge-success" *ngIf="acto.estado == 'PA'">Pagado</span>
                    <span class="badge badge-secondary" *ngIf="acto.estado == 'AN'">Anulado</span>
                  </span>







                  <span class="text-nowrap" style="position: relative;bottom: 27px;">
                    <p matLine class="text-truncate subject" style="font-size: smaller;margin: 0px;">{{acto.fechaCrea | date: 'dd/MM/yyyy h:mm'  }}</p>
                  </span>
                
                  
                      <p matLine class="text-truncate subject" style="margin: 0px;position: relative;bottom: 35px; font-size: 11px">{{acto.consecutivoActo}}</p>
                  
              </div>
            </div>
          </perfect-scrollbar>

        </div>

        <div *ngIf="actos?.length == 0 || actos == null" fxLayout="column" fxLayoutAlign="center center" class="container"
        style="text-align: center;  padding-top: 150px; padding-bottom: 150px">
        <i class="ni ni-ungroup text-default" style="font-size: 100px"></i>
        <p class="mt-2">No se encontraron tramites</p>
          

        </div>

      </mat-nav-list>

    </mat-sidenav>





    <!-- NAVBAR DEL TRAMITE SELECCIONADO -->
    <nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default" style="padding: 6px">

      <button class="navbar-toggler" (click)="sidenav.toggle()" style="display: flex;"><span class="fas fa-bars"></span></button>

  

    </nav>

    <div>



      <div *ngIf="acto != null && estado == 'verTRAMITE'" class="animated fadeIn fast">
        <perfect-scrollbar style="max-height: 600px;">



          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-9">

                <!-- User profile -->
                <div class="panel panel-default" style="margin-top: 5% !important">
                  <div class="panel-heading">
                  </div>
                  <div class="panel-body">
                    <div class="profile__avatar" style="    background: white;
                    text-align: center;">
                        <span><div style=" text-align: center;   position: relative;background: #81d181;padding: 4px;color: white;font-weight: 600;">{{acto.fkActoEntidad.codigo}}</div></span>

                      <img
                        src='{{url.entidadesEndpointComplete}}uploads/img/{{acto.fkActoEntidad.fkBcEntidad.logo}}'
                        onError="this.src='assets/resources/Entidades/entidad_default.png';"
                        width="125px" height="125px" alt="..." style="height: 110px;
                        width: 110px;">
                    </div>
                    <div class="profile__header">
                      <h2>{{acto.fkActoEntidad.fkBcActo.nombreActo}}</h2> 
                      <h3 style="    color: gray;position: relative;bottom: 10px;">{{acto.fkActoEntidad.fkBcActo.descripcion}}</h3>
                      <h4 style="    position: relative;bottom: 27px;font-variant-caps: all-petite-caps;font-size: 25px;">{{acto.descripcion}}</h4>
                      <p class="text-muted" style="    position: relative;bottom: 60px;">Tramite No. {{acto.consecutivoActo}}</p>
                      <p class="text-muted" style="    position: relative;bottom: 85px;font-size: small;">Creado el {{acto.fechaCrea | date}}</p>





                      <h3 style="    position: relative;bottom: 110px;">{{acto.fkActoEntidad.fkBcEntidad.nombre}} <span
                          class="text-success mr-2"><i class="ni ni-pin-3"></i> <span
                            class="badge badge-success">{{acto.fkActoEntidad.fkBcEntidad.fkGedivipo.nombreDepartamentp}}
                            {{acto.fkActoEntidad.fkBcEntidad.fkGedivipo.nombreMunicipio}}
                          </span></span></h3>
                      <perfect-scrollbar style="max-height: 100px;">


                      </perfect-scrollbar>

                    </div>
                  </div>
                </div>

                <!-- User info -->
                <div class="panel panel-default" style="    position: relative;bottom: 80px;margin-left: 32px;">
                  <div class="panel-heading">
                    <h4 class="panel-title"></h4>
                  </div>
                  <div class="panel-body">
 


                  <!-- here -->

                  <div class="row" *ngIf="valores">
                    <div class="col-md-12">
                      <div class="pl-2">
                        <h1  style="margin-bottom: 0px"><i class="fas fa-file-invoice-dollar mr-2"></i> Recibo tramite </h1>
                         <span>No. {{acto.consecutivoActo}}</span>
                     </div>
      
      
                      <div style="margin: 10px">
                  
                        <div>
                          <div class="col-md-12 py-2" style="background: #dadff7;">
                            <div class="row">
                              <div class="col-md-9">
                                <div class="btn-group btn-group-sm" role="group" style="margin: 0px;">
                                  <button [disabled]="codigo === ''" type="button" class="btn btn-sm btn-warning"
                                    (click)="buscar()" matTooltip="Recargar" [matTooltipPosition]="'above'"><i
                                      class="fa fa-sync"></i></button>
                                  <button (click)="pagar()"  type="button" class="btn btn bg-default text-white"><i
                                      class="fa fa-file-medical"></i>&nbsp;Generar recibo</button>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <input type="text" (keyup)="applyFilter($event.target.value)"
                                  class="form-control form-control-sm bg-white" style="border-radius: 3px; padding-left: 3px;"
                                  placeholder="Buscar por...">
                              </div>
                            </div>
                          </div>
      
                          <div class="col-md-12 p-0">
                            <table mat-table [dataSource]="dataSource" matSort class="w-100" multiTemplateDataRows >
                  
                    
                              <ng-container matColumnDef="referencia">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-default text-white">
                                  <i class=" fa fa-arrow-circle-down text-warning"></i>&nbsp; REFERENCIA
                                </th>
                                <td mat-cell *matCellDef="let item"
                                style="padding-left: 24px !important;"><i class="fas fa-file-alt text-warning mr-2" ></i> {{acto.consecutivoActo}} </td>
                              </ng-container>
                    
                              <ng-container matColumnDef="valortramite">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-default text-white">
                                  <i class=" fa fa-arrow-circle-down text-warning"></i>&nbsp; VALOR TRAMITE
                                </th>
                                <td mat-cell *matCellDef="let item"> {{valores.valorTramite | currency : '$'}} </td>
                              </ng-container>
      
                              <ng-container matColumnDef="intereses">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-default text-white">
                                  <i class=" fa fa-arrow-circle-down text-warning"></i>&nbsp; INTERESES
                                </th>
                                <td mat-cell *matCellDef="let item" class="text-right" style="padding-right: 24px !important;"
                                  [ngClass]="item.sxCSdo === 0 ? 'text-success':'text-danger'"> <b>{{valores.intereses | currency : '$'}} </b>
                                </td>
                              </ng-container>
                    
      
      
                              <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-default text-white">
                                  <i class=" fa fa-arrow-circle-down text-warning"></i>&nbsp; TOTAL
                                </th>
                                <td mat-cell *matCellDef="let item" class="text-right" style="padding-right: 24px !important;"
                                  [ngClass]="item.sxCSdo === 0 ? 'text-success':'text-danger'"> <b>{{valores.total | currency : '$' }}</b>
                                </td>
                              </ng-container>
                              
      
                          
                              <tr style="height: auto !important; padding: 2px !important;" mat-header-row
                              *matHeaderRowDef="displayedColumns"></tr>
                              <tr class="trow" mat-row *matRowDef="let row;let i = index; columns: displayedColumns"></tr>                            
                            </table>
      
                          </div>
                  
      
                  
                        </div>
                      </div>
                    </div>
      
                </div>


                <div class="card shadow" style="width: 100% !important">
                  <div class="card-header border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <h3 class="mb-0">Información del tramite #{{acto.consecutivoActo}} </h3>
                      </div>

                    </div>

                    <div>
                      
                      <p style="margin: 0px; margin-top: 5%"><b style="font-weight: 700;">No. contrato</b> {{acto.numeroActo}}</p>
                      <p style="margin: 0px"><b style="font-weight: 700;">Entidad contratante</b> {{acto.fkEntidadContratantes.fkContratante.nombreContratante}}</p>
                      <p style="margin: 0px"><b style="font-weight: 700;">Estado del tramite</b>  <span class="badge badge-info" *ngIf="acto.estado == 'BO'">Borrador</span>
                        <span class="badge badge-warning" *ngIf="acto.estado == 'PR'">Presentado</span>
                        <span class="badge badge-danger" *ngIf="acto.estado == 'LI'">Liquidado</span>
                        <span class="badge badge-success" *ngIf="acto.estado == 'PA'">Pagado</span>
                        <span class="badge badge-secondary" *ngIf="acto.estado == 'AN'">Anulado</span></p>
                      <p style="margin: 0px"><b style="font-weight: 700;">Valor contrato</b> {{acto.valorActo | currency : '$'}}</p>
                      <p style="margin: 0px"><b style="font-weight: 700;">Valor del tramite</b> {{acto.valorApagar | currency: '$'}}</p>
                      <p style="margin: 0px"><b style="font-weight: 700;">Periodo</b> {{acto.tipoPeriodo}}</p>

                        <p *ngIf="acto.fechaPresentacion" style="margin: 0px"><b style="font-weight: 700;">Fecha presentado</b> {{acto.fechaPresentacion | date}}</p>
                        <p *ngIf="acto.fechaLiquidacion" style="margin: 0px"><b style="font-weight: 700;">Fecha Liquidado</b> {{acto.fechaLiquidacion | date}}</p>
                        <p *ngIf="acto.fechaPago" style="margin: 0px"><b style="font-weight: 700;">Fecha Pago </b>{{acto.fechaPago | date}}</p>
                        <p *ngIf="acto.fechaAnulado" style="margin: 0px"><b style="font-weight: 700;">Fecha Anulado</b> {{acto.fechaAnulado | date}}</p>

                    </div>

                  </div>                     
                </div>



                  </div>
                </div>

             

              </div>
              <div class="col-xs-12 col-sm-3" style="margin-top: 5%;">

                <p  *ngIf="acto.estado == 'BO'" role="button" disabled>
                  <a class="profile__contact-btn btn btn-lg btn-block btn-primary text-white" data-toggle="modal"
                    data-target="#profile__contact-form" style="margin: 0px">
                    <i class="ni ni-ruler-pencil"></i>Editar
                  </a>
                </p>

                <p  *ngIf="acto.estado == 'BO'" (click)="presentarActo()">
                    <a class="profile__contact-btn btn btn-lg btn-block btn-primary text-white" data-toggle="modal"
                      data-target="#profile__contact-form" style="margin: 0px">
                      <i class="ni ni-paper-diploma"></i>Presentar
                    </a>
                  </p>

                  <p  *ngIf="acto.estado == 'PR'">
                      <a class="profile__contact-btn btn btn-lg btn-block btn-primary text-white" data-toggle="modal"
                        data-target="#profile__contact-form" style="margin: 0px">
                        <i class="ni ni-money-coins"></i>Liquidar
                      </a>
                    </p>

                    <p  *ngIf="acto.estado == 'BO'" (click)="anularActo()">
                      <a class="profile__contact-btn btn btn-lg btn-block btn-primary text-white" data-toggle="modal"
                        data-target="#profile__contact-form" style="margin: 0px">
                        <i class="ni ni-archive-2"></i>Anular
                      </a>
                    </p>


                <p (click)="showPdf()" *ngIf="acto.estado != 'AN'">
                  <a class="profile__contact-btn btn btn-lg btn-block btn-danger text-white" data-toggle="modal"
                    data-target="#profile__contact-form" style="margin: 0px">
                    <i class="ni ni-single-copy-04"></i> Ver pdf
                  </a>
                </p>


              </div>
            </div>


          </div>
        </perfect-scrollbar>
      </div>

      <div *ngIf="estado == 'verPDF'" class="animated fadeIn fast">
          <perfect-scrollbar style="max-height: 580px" >


            
          <div class="row mb-2 ml-1 mt-2">
            <div class="pl-2 ml-2 mb-1">
              <h1  style="margin-bottom: 0px"><i class="fas fa-stamp mr-2"></i>{{acto.descripcion}}</h1>
               <span>Ref. {{acto.consecutivoActo}}</span>
           </div>
            <div class="col-md-12">
              <button (click)="volver()" class="btn btn bg-default text-white"><i class="fa fa-times"></i>&nbsp; cerrar</button>
              <button (click)="savePDF()" class="btn btn bg-default text-white"><i class="fa fa-save"></i>&nbsp; Guardar</button>
            </div>
          </div>
          

         
              <div class="container" style=" bottom: 20px">
                  <ngx-extended-pdf-viewer height="480px" delayFirstView="250" [src]="pdf"
                useBrowserLocale="true"  [showScrollingButton]="false"	 [backgroundColor]="'#fafafa'" (pagesLoaded)="pdfCargado($event)"	> </ngx-extended-pdf-viewer>



                </div>
         
     </perfect-scrollbar>
      </div>

      

    

    




      <div *ngIf="!acto && estadoActo != 'cargando' && estadoActo != 'noEncontrado'" fxLayout="column" fxLayoutAlign="center center" class="container"
        style="text-align: center;  padding-top: 150px; padding-bottom: 150px">
        <i class="ni ni-folder-17 text-default" style="font-size: 100px"></i>
        <p class="mt-2">Seleccione un acto a administrar</p>
      </div>

      <div *ngIf="estadoActo == 'cargando'" fxLayout="column" fxLayoutAlign="center center" class="container"
        style="text-align: center;  padding-top: 150px; padding-bottom: 150px">
        <i class="ni ni-ungroup text-default" style="font-size: 100px"></i>
        <p class="mt-2">Cargando...</p>
      </div>


</div>
  </mat-sidenav-container>



</div>