
<div class="row">


        <div *ngFor="let entidad of entidades; let i = index" class="col-xl-3 order-xl-2 mb-5 mb-xl-0" style="margin-top: 7%">
           <div style="    background: #dedede;border-radius: 7px;">
              <div class="row justify-content-center">
                  <div class="card-profile-image" (click)="viewActos(entidad)" >
                    <a >

                        <loader-img 
                        [imgSrc]="url.entidadesEndpointComplete+'uploads/img/'+entidad.logo" 
                        [spinnerColor]="'#de2b6e'" 
                        [spinnerMargin]="'5rem'"
                        [imgWidth]="'180px'"
                        [imgHeight]="'180px'"
                        [imgBackground]="'white'"
                        [imgBorderRadius]="'10px'"
                        [imgPadding]="'2rem'"
                        [imgPosition]="'relative'"></loader-img>        
                    </a>                  

                  </div>
              </div>

            
              <div class="text-center">
                  <h3 style="    padding: 2rem;
                  padding-top: 0rem;">
                   {{entidad.nombre}}
                  </h3>
                 
                </div>
              </div>

          </div>
    </div>


    <div *ngIf="!entidades" fxLayout="column" fxLayoutAlign="center center" class="container"
    style="text-align: center;  padding-top: 150px; padding-bottom: 150px">
    <i class="ni ni-building text-default" style="font-size: 100px"></i>
    <p class="mt-2">Utilice los filtros para encontrar su entidad</p>
  </div>

  <div *ngIf="isEmptyObject(entidades)" fxLayout="column" fxLayoutAlign="center center" class="container"
  style="text-align: center;  padding-top: 150px; padding-bottom: 150px">
  <i class="ni ni-support-16 text-default" style="font-size: 100px"></i>
  <p class="mt-2">No se encontraron entidades con esos parametros</p>
</div>




<!--     <img src="assets/img/brand/back_entidad_default.png" width="300px"> -->
