.tooltip {

    position: absolute;
    background: rgba(1, 3, 35, 0.7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.card{
    box-shadow: 0px 0px 20px 1px #6965652b !important; 

}


.mat-form-field-type-mat-select .mat-form-field-label, .mat-select-value {
    color: rgb(255, 255, 255);
  }


  
  .mat-select{
    background-color: rgba(255, 0, 0, 0);
 }




 .mat-select-panel {
    background-color: rgb(255, 255, 255) !important;
}


.mat-select-arrow{
    color: rgb(255, 255, 255) !important;
}

/* Border */

 .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
  }


 .mat-select-value {
    color: rgba(255, 255, 255, 0.87) !important;

}

  md-select:not([disabled]):focus .md-select-value{
    border-bottom-color: rgb(255, 255, 255);
  }
  /* Font color */
  input.mat-input-element {
    color: white;
  }