<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-size: cover; background-position: center top;"
  style="background: url('assets/img/theme/dashboard_background.png'); background-repeat: no-repeat;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-6"></span>




  <!-- Header container -->

</div>
<!-- Page content -->
<div class="container-fluid mt--7">

  <div class="container" style="    padding: 0px;
  margin: 0px;">
  
      
  
      <div class="row">
          <div class="col-md-3 mb-3" >
                  <div class="card shadow" style="padding: 10%; background: #eaebec; height: 100%;">
                      <div>
                        <h1  style="margin-bottom: 0px"><i class="ni ni-paper-diploma mr-2"></i>  Contratos</h1>
  
                         <span>{{contratos?.length}}  Resultados</span>
                     </div>
                    
                      <div style="margin-top: 10px" >
                        <h5>Buscar por numero de contrato</h5>                                       
                          <div class="form-group mb-0" >
                            <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </div>
                              <input [(ngModel)]="numeroContrato" style="background: rgba(0,0,0,0);
                              border: 2px solid grey; padding-left: 10px" class="form-control" placeholder="Numero contrato" type="text" 
                                (keyup.enter)="buscarContratos(1)" [disabled]="estado != 'vercontratos'" >
                            </div>
                          </div>                    
                      </div>
  
                      <div style="margin-top: 10px" >
                        <h5>Buscar por valor de contrato</h5>                                       
                          <div class="form-group mb-0" >
                            <div class="input-group input-group-alternative">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                              </div>
                              <input [(ngModel)]="valorContrato" style="background: rgba(0,0,0,0);
                              border: 2px solid grey; padding-left: 10px" class="form-control" placeholder="Valor de contrato" type="text" 
                                (keyup.enter)="buscarContratos(1)" [disabled]="estado != 'vercontratos'">
                            </div>
                          </div>                    
                          <button class="btn btn-default mt-4" style="width: 100%;" (click)="buscarContratos(1)" [disabled]="estado != 'vercontratos'">Buscar</button>  
                          <button class="btn btn-default mt-1" style="width: 100%;" (click)="buscarContratos(0)" [disabled]="estado != 'vercontratos'">Buscar todos</button>                  
                
                      </div>                    
                  </div>      
             
      
          </div>
    
          <div class="col-md-9" >
            <div class="row" *ngIf="estado === 'vercontratos'">
              <div *ngFor="let c of contratos; let i = index" class="col-xl-3 order-xl-2 mb-5 mb-xl-0" style="margin-top: 5rem">
                <div style="background: #dedede;border-radius: 7px;">
                   <div class="row justify-content-center">
                       <div class="card-profile-image" (click)="verContrato(c)" >
                         <a >
                            <img src="assets/resources/Entidades/contrato_default.png" alt="Contrato IMG">        
                         </a>                       
                       </div>
                   </div>
                      
                   <div class="text-center">
                       <h3 style="padding: 2rem; padding-top: 8rem;">
                        {{c.numeroActo}}
                        <br>
                        <span  style="border-radius: 4px; padding: 3px; background: rgba(23, 43, 77, 0.626);color: white; font-size: small;">{{c.valorActo | currency : '$'}}</span>
                        <br>
                        <span style="font-size: small;">
                          {{c.descripcion}}
                        </span>
                        <br>
                        <span style="border-radius: 4px; padding: 3px; background: rgba(222, 43, 110, 0.626); color: white; font-size: xx-small;">
                          <i class="fas fa-location-arrow" style="color: white"></i>  {{c.fkActoEntidad.fkBcEntidad.nombre}}
                        </span>



                       </h3>                      
                    </div>
                  </div>    
               </div>
            </div>



            <div class="card shadow" style="padding: 20px; background: #eaebec">
              
    
  
              <div *ngIf="contratos?.length === 0" fxLayout="column" fxLayoutAlign="center center" class="container"
              style="text-align: center;  padding-top: 150px; padding-bottom: 150px" >
              <i class="ni ni-support-16 text-default" style="font-size: 100px"></i>
              <p class="mt-2">No se encontraron contratos con esos parametros</p>
            </div>
  
  
            <div class="row p-3 pt-0" *ngIf="estado === 'verpdf'" [@enterAnimation]>  
              <div class="row mb-2">
                <div class="pl-2 ml-2 mb-2">
                  <h1  style="margin-bottom: 0px"><i class="fas fa-copy mr-2"></i> {{contrato.numeroActo}} </h1>
                   <span>Anexado a <span *ngIf="contrato.consecutivoActo">{{contrato.consecutivoActo}}</span>
                                   <span *ngIf="!contrato.consecutivoActo">ningún tramite</span>

                  </span>
               </div>
                <div class="col-md-12">
                  <button (click)="estado = 'vercontratos'" class="btn btn bg-default text-white"><i class="fa fa-times"></i>&nbsp; volver</button>
                  <button (click)="savePDF()" class="btn btn bg-default text-white"><i class="fa fa-save"></i>&nbsp; Guardar</button>
                </div>
              </div>
  
                <ngx-extended-pdf-viewer 
                style="width: 100%;"
                height="480px" 
                delayFirstView="250" 
                [src]="pdfRuta"
                useBrowserLocale="true"  
                [showScrollingButton]="false"	 
                [backgroundColor]="'#fafafa'" 
                (pagesLoaded)="pdfCargado($event)"
                (pdfLoadingFailed)="pdfError($event)"		>
            
              </ngx-extended-pdf-viewer>  
            </div>
    
  
            </div>
          </div>
        </div>
  </div>
</div>